@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
/* font link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

/* || reset css */
* {
  margin: 0;
  padding: 0;
}
/* || reset for btn */
button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* variables */
:root {
  --main-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --hover-effect-color: #d6d6d6;
  --light-gray: rgb(210, 210, 210);
  --dark-grey-font: rgb(102, 102, 102);

  --dark-purple: rgb(97, 1, 238);
  --light-purple: rgb(219, 196, 253);
}

/* || basic layout main container*/
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.title {
  font-weight: 500;
  margin: 1rem;
  padding: 4px;
  color: black;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
  border: 1px solid;
}

/* || genral styling */
html {
  font-size: 100%;
}
body {
  background-color: #f7f7f7;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}

/* media query */

@media only screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
}

.drower-outer-div {
  height: 60vh;
  width: 90vw;
  border: 1px solid black;
  margin: 4rem 1rem;
  background-color: rgb(242, 242, 242);
}

/* all drower flex direction */
.basic-drower {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* first drower(basic) */
.basic-drower-box {
  width: 15.9rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 0.2px solid var(--light-gray);
  border-bottom: 0.2px solid var(--light-gray);
  transition: 0.4s;
}

.drower-h2 {
  font-weight: 500;
}

.drower-para {
  font-weight: 400;
  color: var(--dark-grey-font);
}
.drower-title-subtitle {
  margin: 1rem 1rem 0rem 1rem;
}
.drower-h3 {
  font-weight: 500;
  font-size: 1rem;
}
.drower-icon {
  margin-right: 2.5rem;
  font-size: 1.1rem;
}

.drower-btn {
  display: flex;
  cursor: pointer;
  padding: 0.6rem;
  margin: 0.38rem 0.6rem;
  color: var(--dark-grey-font);
  background-color: white;
  border-radius: 8px;
  transition: 0.3s;
}
.drower-btn:focus {
  color: var(--dark-purple);
  background-color: var(--light-purple);
}
.drower-btn:hover {
  filter: brightness(90%);
}

.aside-permanet-drower {
  display: flex;
  flex-direction: column;
}
/* permanet drower */
.permanent-drower-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}
.main-content-drower {
  width: 100%;
  height: 100%;
  background-color: white;
  /* overflow: auto; */
}
.drower-header {
  background-color: var(--dark-purple);
  height: 3rem;
}

.drower-header-h2 {
  line-height: 2;
  margin-left: 1rem;
  color: white;
}

.drower-hr {
  color: var(--light-gray);
}
hr {
  color: gray;
}

.sticky-drower-title {
  background-color: white;
}
.permanet-drower-box {
  overflow: auto;
}

/* main contant */
.drower-contant {
  overflow: auto;
  padding: 0.5rem 1rem;
  height: 25rem;
}
.drower-contant-para {
  font-size: 1.1rem;
  font-weight: 300;
}
/* 3rd compo */

.drower-icon-content-btn {
  background-color: transparent;
  color: white;
}
.drower-icon-content-btn:hover {
  filter: brightness(85%);
}

.fold {
  width: 0rem;
}